
    <div class="card card-image" style="background-image: url(https://mdbcdn.b-cdn.net/img/Photos/Others/forest2.jpg); margin-left: 40px; margin-right: 50px;">
        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
          <div class="py-5">
      
            <!-- Content -->
            <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i> Developer</h5>
            <h2 class="card-title h2 my-4 py-2">My name is Daisy Jesang</h2>
            <p class="mb-4 pb-2 px-md-5 mx-md-5">I am a fullstuck developer, and I work across all platforms and browsers.I care about building interfaces that are usable and pleasant for most numbers of people possible.

                My professional life has been 100% driven by my passion for technology since when I was a kid.Fortunately after high school I got a chance to enroll at Moringa School , where I got the chance to sharpen my skills in software development.
                
                While at Moringa, I was able to have skills in frontend development, backend development, UI/UX design, collaboration and team working, and solving challenging problems like hackerrank and codewars.
                
                Right now,I'm excited about and still want to learn very compilicated WebAssembly, and working towards becoming a Senior developer.In the coming years, also plan to become a better-rounded full-stack developer.</p>
            <a href="https://github.com/sawe-daisy" class="btn peach-gradient"><i class="fas fa-clone left"></i> View projects</a>
      
          </div>
          
        </div>
      </div>

